<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Add User to list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>-->
  
  <ion-item>
    <ion-label position="fixed">Title</ion-label>
    <ion-input name="title" [(ngModel)]="newItem.title" required></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="fixed">Names</ion-label>
    <ion-input name="names" [(ngModel)]="newItem.names" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">Department</ion-label>
    <ion-input name="department" [(ngModel)]="newItem.department" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="fixed">email</ion-label>
    <ion-input name="email" [(ngModel)]="newItem.email" required></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="fixed">Employee No</ion-label>
    <ion-input name="empno" [(ngModel)]="newItem.names" required></ion-input>
  </ion-item>
  
  <ion-button expand="full" (click)="addItem()">Add User!</ion-button>
  
  <ion-list #mylist>
 
    <ion-list-header>
      <ion-label color ="blue">Employee List</ion-label>
    </ion-list-header>
 
    <ion-item-sliding *ngFor="let item of items">
 
      <ion-item>
        <ion-label text-wrap>
          <h3>Title:{{ item.title }}</h3>
          <ion-text color="secondary">
            <p>Name:{{ item.names }}</p>
          </ion-text>
          <ion-text color="secondary">
            <p>Email:{{ item.email }}</p>
          </ion-text>
          <p>{{ item.modified | date:'short'}}</p>
        </ion-label>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updateItem(item)">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>

</ion-content>